@model Blinds02.Models.Textile

@{
    ViewBag.Title = "Details";
}

<h2>Textile Details</h2>

<div>
    <h4>Textile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextilePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextilePrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TextileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
